<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hearc.smarthome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Door Main Activity -->
        <activity
            android:name="ch.hearc.smarthome.door.DoorActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- Door Administration Activity -->
        <activity
            android:name=".door.DoorAdminActivity"
            android:label="Door Administration" >
        </activity>

        <!-- Heating Main Activity -->
        <activity
            android:name="ch.hearc.smarthome.heating.HeatingMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- Heating History -->
        <activity
            android:name="ch.hearc.smarthome.heating.HeatingHistory"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Heating Scheduling -->
        <activity
            android:name="ch.hearc.smarthome.heating.HeatingScheduling"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Heating Thresholds -->
        <activity
            android:name="ch.hearc.smarthome.heating.HeatingThresholds"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Login Main Activity -->
        <activity
            android:name="ch.hearc.smarthome.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.hearc.smarthome.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="ch.hearc.smarthome.NoteActivity"
            android:label="@string/title_activity_note" >
        </activity>
    </application>

</manifest>